// CSS Reset
@import "mixins.less";
@import "reset.less";
@import "font-awesome.less";
@import "font-awesome-ie7.less";

// mixins
.generar-boton(@colorArriba, @colorAbajo, @colorTexto: white) {
	font-weight: bold;
	.border-radius(.35em);
	.box-shadow(.1em .1em .2em rgba(0, 0, 0, .5));
	border: .1em solid @colorArriba + #202020;
	border-right-color: @colorAbajo - #101010;
	border-bottom-color: @colorAbajo - #101010;
	color: @colorTexto;
	#gradient > .vertical(@colorArriba, @colorAbajo);
	.inline-block();
	text-align: center;
	text-decoration: none;
	text-shadow: 0 0 .2em rgba(0, 0, 0, .5);
	&:focus {
		#gradient > .vertical(@colorArriba + #101010, @colorAbajo + #101010);
		cursor: pointer;
		border-color: @colorArriba + #303030;
		border-right-color: @colorAbajo;
		border-bottom-color: @colorAbajo;
		text-shadow: 0 0 .15em #fff;
	}
	&:hover {
		#gradient > .vertical(@colorArriba + #101010, @colorAbajo + #101010);
		cursor: pointer;
		border-color: @colorArriba + #303030;
		border-right-color: @colorAbajo;
		border-bottom-color: @colorAbajo;
		text-shadow: 0 0 .15em #fff;
	}
	&:active {
		#gradient > .vertical(@colorAbajo, @colorArriba);
		border-color: @colorArriba + #202020;
		border-right-color: @colorAbajo - #101010;
		border-bottom-color: @colorAbajo - #101010;
	}
}

.borde() {
	border: 1px solid black;
}


// Estilos globales
@import "variables.less";

html {
	background-color: @fondoHTML;
	background-image: url("../img/background-texture.png");
	color: @parrafos;
	font-family: @SansSerif;
	font-size: 16px;
	line-height: 1.5em;
	padding: 0;
}

img {
	.inline-block();
	border: .5em solid white;
	margin: 0 .5em;
	.box-shadow(.15em .15em .2em rgba(0, 0, 0, .35);
	vertical-align: top;
}
#en-desarrollo{
	background-image: url("../img/en-desarrollo.png");
	border: 0;
	height: 100px;
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	width: 100px;
}
em {
	font-family: @Serif;
}
a {
	font-weight: bold;
	color: @enlaces + #303030;
	text-shadow: 0 0 .1em rgba(0, 0, 0, 1);
}
body {
	margin: 0 auto;
	padding: 3em;
	text-align: center;
}
strong {
	text-shadow: 0 0 .1em rgba(0, 0, 0, 1);
}
// (1) El letter-spacing me da mejores resultados que el margin a la hora de
// distribuir los elementos horizontalmente dentro del header.
header {
	.inline-block();
	letter-spacing: 3em;
	margin-bottom: 1em;
}
h1 {
	color: @titulos;
	font-size: 2.25em;
	.inline-block();
	// (3) Este margen es para separar el h1 del splash.
	margin: 0 0 1em 0;
	// ie7 no aplica el letter-spacing. Ver comentario (1)
	*margin: 0 1em 1em 1em;
	line-height: 1em;
	// (2) pongo el letter-spacing a normal para no afectar las letras interiores
	letter-spacing: normal;
	position: relative;
	text-shadow: 0.1em 0.1em .1em rgba(0, 0, 0, .4);
	vertical-align: middle;
}
p {
	text-align: justify;
	margin: 1em 0 1.25em 0;
}
nav {
	.inline-block();
	// Este margen es para separar el nav del splash. Ese valor es para que el nav quede alineado con el h1. Ver comentario (3)
	margin-bottom: 2em;
	// ver el comentario (2)
	letter-spacing: normal;
	vertical-align: middle;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			.border-radius(.4em);
			margin: 0;
			padding: 0;
			// el .inline-block() es para corregir un bug de ie7 con el modelo de caja
			.inline-block();
			// ver si se puede usar el letter-spacing
			margin-right: .4em;
			a {
				font-weight: bold;
				margin: .1em 0 .1em 0;
				*margin: .1em;
				padding: .5em 1em;
				.generar-boton(@claroNav, @oscuroNav);
			}
			span {
				display: none;
			}
		}
	}
}
#splash {
	margin-bottom: 2.5em;
	img {
		margin: 0 1em;
	}
	p {
		.inline-block();
		text-align: justify;
		max-width: 27em;
		margin: 1em .5em .5em 0;
		vertical-align: top;
	}
}
h2 {
	color: @titulos;
	font-size: 2.25em;
	line-height: 1em;
	text-shadow: 0.1em 0.1em .1em rgba(0, 0, 0, .4);
	margin: 0 0 .5em 0;
	padding: 0 0 .5em 0;
}
h3 {
	color: @titulos;
	font-size: 1.5em;
	line-height: 1em;
	text-shadow: 0.1em 0.1em .1em rgba(0, 0, 0, .4);
	text-align: center;
}
footer {
	// ver el comentario (1)
	letter-spacing: 3em;
	text-align: left;
	.inline-block();
	aside {
		.inline-block();
		// ver el comentario (2)
		letter-spacing: normal;
		*margin: 0 1em;
		span {
			.inline-block();
			vertical-align: middle;
			margin-bottom: 1em;
			margin-top: 1em;
		}
	}
}
.contenido {
	// ver el comentario (1)
	letter-spacing: 4em;
	margin: 0;
	padding: 0;
	article {
		.inline-block();
		text-align: center;
		// ver el comentario (2)
		letter-spacing: 2em;
		margin: 0 0 2.5em 0;
		// *margin-right: 4em;
		padding: 0;
		// (4) Cuando los elementos no caben en el ancho del contendor, se posicionan debajo. Cuando eso sucede, quiero que los que bajaron se alineen justo por debajo del elemento superior mas ancho. El vertical-align empuja esos elementos hacia arriba y logra ese efecto.
		vertical-align: top;
		h3 {
			letter-spacing: normal;
		}
		figure {
			.inline-block();
			margin: 0;
			*margin: 0 2em 0 2em;
			img {
				margin: 1.5em 0 .5em 0;
				max-width: 400px;
				box-sizing: border-box;
			}
			figcaption {
				text-align: justify;
			}
		}
		.texto {
			.inline-block();
			letter-spacing: normal;
			margin: 0;
			max-width: 26em;
			vertical-align: top;
		}
	}
	h2 {
		letter-spacing: normal;
	}
}

#botones-sociales {
	.inline-block();
	vertical-align: middle;
	a {
		height: 2.5em;
		margin: 0 .4em;
		width: 2.5em;
		i {
			font-size: 2em;
			line-height: 1em;
			margin: .2em auto 0 auto;
			*margin-top: .4em;
			*padding-left: .2em;
		}
	}
	.st_facebook_custom {
		.generar-boton(@arribaFacebook, @abajoFacebook);
	}
	.st_pinterest_custom {
		.generar-boton(@arribaPinterest, @abajoPinterest);
	}
	.st_twitter_custom {
		.generar-boton(@arribaTwitter, @abajoTwitter);
	}
	.st_googleplus_custom {
		.generar-boton(@arribaGoogle, @abajoGoole);
	}
}
@media only screen and (max-width : 480px) {
	body {
		padding-right: 2em;
		padding-left: 2em;
	}
	nav {
		display: block;
		ul {
			li {
				display: block;
				a {
					width: 100%;
					padding-left: 0;
					padding-right: 0;
					margin: 0;
				}
				span {
					display: block;
					float: right;
					position: relative;
					right: .75em;
				}
			}
		}
	}
	.contenido {
		width: auto;
		img {
			width: 100%;
			min-width: 15em;
		}
	}
	footer aside span {
	}
}
#captura {
	display: none;
}
