// Tipografías
@import url("http://fonts.googleapis.com/css?family=Lato:400,700,900");

@import url("http://fonts.googleapis.com/css?family=Exo:400italic,700italic");

@SansSerif: "Lato", Helvetica, Arial, sans-serif;
@Serif: "Volkhov", Georgia, "Times New Roman", Times, serif;

// Colores
@fondoHTML: white;
@fondoBody: #EEE;