// Tipografía
@import url("http://fonts.googleapis.com/css?family=Lato:400,700");

@import url("http://fonts.googleapis.com/css?family=Volkhov:400italic,700italic");

@SansSerif: "Lato", Helvetica, Arial, sans-serif;
@Serif: "Volkhov", Georgia, "Times New Roman", Times, serif;

// Colores
@fondoHTML: #4C5D60;
@fondoBody: #4C5D60;
@fondo: #6F7D80;
@oscuro: @fondo - #606060;

@bordeNavClaro: #a8a8db;
@bordeNavOscuro: #65658a;
@claroNav: #c57272;
@oscuroNav: #ae5b5b;
@fondoNav: #ba6565;

@titular: #ffffff;
@negrita: #ffa4a4;
@titulos: #ffffff;
@parrafos: #ffffff;

@enlaces: #d07474;

// botones de redes sociales
@fondoFacebook:  #7b8eb7;
@fondoPinterest: #ca686c;
@fondoTwitter:   #3da4cb;
@fondoGoogle:    #c77a6b;

// @: #;